DATABASE_URL="postgresql://postgres.qzqmoevsrvpyfkinoilt:iSs402Ljr35sAtmc@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres"
PORT=3000
TELEGRAM_BOT_TOKEN="7590562803:AAEzy6nkkUZ3VeFzVpIsWxZgIyBX3yjc9SM"
APP_BASE_URL="https://your-domain.com"
SERVER_SECRET="8838b424028dfaff77f5f121ac4d3e6feaa4de737bcb49c03c4d84136bd275af"
PAY_TOKEN_TTL_SECONDS=86400
VIETQR_BANK_CODE="970423"
VIETQR_ACCOUNT_NUMBER="00996553669"
VIETQR_ACCOUNT_NAME="NGUYEN VUONG TUAN HIEP"